# 01. Importing Libraries

In [3]:
# import libraries

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import os

In [4]:
x=2

In [5]:
x

2

In [6]:
type(x)

int

In [7]:
y = 5.678

In [8]:
type(y)

float

In [10]:
z= 'Brazil'

In [11]:
type(z)

str

In [12]:
type(True)

bool

In [13]:
x+4

6

In [14]:
x+y

7.678

In [15]:
print(x)

2

In [16]:
x=x+4

In [17]:
print(x)

6

In [21]:
a="Hello, "

In [19]:
b = "Marley"

In [20]:
a + b

'HelloMarley'

In [22]:
a + b

'Hello, Marley'

In [23]:
n = "potato"

In [24]:
n * 12

'potatopotatopotatopotatopotatopotatopotatopotatopotatopotatopotatopotato'

In [25]:
x == y

False

In [26]:
type(x ==y)

bool

# working with Python data types

In [27]:
d = 25

In [28]:
e = 75

In [29]:
d + e

100

In [30]:
d*4

100

In [31]:
e+25

100

In [32]:
g = 3.179

In [33]:
h = 12.56

In [34]:
h/g

3.9509279647687956

In [35]:
j = "I like to eat "

In [36]:
k = "apples and bananas"

In [37]:
j + k

'I like to eat apples and bananas'

In [38]:
l = "kofta with chickpea curry"

In [39]:
j + l

'I like to eat kofta with chickpea curry'